extends ./base/layout.pug

block content
    nav.navbar.has-shadow
        .container
            .navbar-brand
                a.navbar-item
                    h2 logo
                a.navbar-item.is-hidden-desktop
                    h2 link resposives
            .navbar-menu
                .navbar-end
                    .navbar-tabs
                        a.navbar-link.is-tab Inicio
                        .navbar-dropdown
                           a.navbar-item.is-tab Item
                    .navbar-tabs
                        a.navbar-item.is-tab Inicio
    main
        section.section
            .container
                .columns.notification
                    .column
                        h2.item(v-if="conectado") Estoy Conectado
                        h2.list(v-if="edad < 16") No puedes entrar
                        h2.list(v-else-if="edad > 200") Eres inmortal
                        h2.list(v-else) puedes entrar
                        pre {{ $data }}
