.columns.notification
    .column.sams
        candidato(v-for="candidato in candidatos",:nombre="candidato.name.first",:correoe="candidato.email",:imagen="candidato.picture.thumbnail")
        hr
        script(type="text/template", id="candidato-template")
            blockquote
                img(:src="imagen")
                h2 {{ nombre }}
                small {{ correoe }}
                ul
                    li(v-for="(value, key, index) in location")
                        p {{ value }}
