elegir-ganador(:listado="personas", inline-template)
    div
        h2(v-if="ganador") El Ganador es: {{ ganador }}
        template(v-else)
            h2 Participantes
            ul
                li(v-for="persona in listado") {{ persona }}
        button(@click="elegirGanador") Elegir Ganador
